<div class="card cauth-card">
  <div class="card-header">
    Create Authorization
  </div>
  <div class="card-body">
    <form [formGroup]="AuthForm" (submit)="onSubmit(AuthForm.value)">
      <!--Form Data-->
      <div class="form-group">
        <label class="title" for="Authorization">Authorization#</label>
        <input type="text" formControlName="Authorization" class="form-control" placeholder="Authorization#"
        disabled="disabled">

        <label class="title" for="CustomsProcedure">Custom Procedure</label>
        <select class="dropdown" class="form-control">
          <option value="0">Select</option>
          <option *ngFor="let customp of CustomsProcedure" [value]="customp.id">{{customp.name}}</option>
        </select>
        <!-- <select class="dropdown" class="form-control" formControlName="CustomsProcedure">
          <option value="0"></option>
          <option value="51">Perfectionnement actif</option>
          <option value="31">réexportation</option>
          <option value="40">mise en libre pratique</option>
          <option value="71">autre régime</option>
        </select> -->

        <label class="title" for="GeographicalValidity">Geographical Validity</label>
        <input type="text" class="form-control" formControlName="GeographicalValidity"
               placeholder="Geographical validity" [ngClass]="{ 'is-invalid': submitted && f.GeographicalValidity.errors }"
               >
               <div *ngIf="submitted && f.GeographicalValidity.errors" class="invalid-feedback">
                <div *ngIf="f.GeographicalValidity.errors.required">Geographical validity is required</div>
              </div>

        <label class="title" for="StartDate">Start Date</label>
        <input type="date" class="form-control" formControlName="StartDate" placeholder="Date of start of validity" [ngClass]="{ 'is-invalid': submitted && f.StartDate.errors }">
        <div *ngIf="submitted && f.StartDate.errors" class="invalid-feedback">
          <div *ngIf="f.StartDate.errors.required">Start Date is required</div>
        </div>

        <label class="title" for="ExpirationDate">Expiration Date</label>
        <input type="date" class="form-control" formControlName="ExpirationDate" placeholder="Expiration date of validity" [ngClass]="{ 'is-invalid': submitted && f.ExpirationDate.errors }">
        <div *ngIf="submitted && f.ExpirationDate.errors" class="invalid-feedback">
          <div *ngIf="f.ExpirationDate.errors.required">Start Date is required</div>
        </div>

      </div>
      <!--Form Array: Goods-->
    <div class="card">
      <div class="card-header">Goods to be Placed</div>
      <div class="card-body">
        <div class="form-group" formArrayName="Goods"
             *ngFor="let item of AuthForm.get('Goods').controls; let i = index;">
          <div [formGroupName]="i">

            <label class="title" for="CodeNC">CodeNC</label>
            <select class="form-control" formControlName="CodeNC" placeholder="CodeNC">
              <option value="0"></option>
              <option value="1">CodeNC1</option>
              <option value="2">CodeNC2</option>
              <option value="3">CodeNC3</option>
            </select>

            <label class="title" for="Designation">Designation</label>
            <input type="text" class="form-control" formControlName="Designation" placeholder="Designation">

            <label class="title" for="Quantity">Quantity</label>
            <input type="number" class="form-control" formControlName="Quantity" placeholder="Quantity" [ngClass]="{ 'is-invalid': submitted && f.Quantity.errors }">
            
        <div *ngIf="submitted && f.Quantity.errors" class="invalid-feedback">
          <div *ngIf="f.Quantity.errors.required">Quantity is required</div>
        </div>

            <label class="title" for="Unit">Period</label>
            <select class="form-control" formControlName="Unit" [ngClass]="{ 'is-invalid': submitted && f.Unit.errors }">
              <option value="0"></option>
              <option value="1">Days</option>
              <option value="2">Month</option>
              <option value="3">Year</option>
            </select>            
            <div *ngIf="submitted && f.Unit.errors" class="invalid-feedback">
              <div *ngIf="f.Unit.errors.required">Unit is required</div>
            </div>

            <label class="title" for="Number">Number</label>
            <input type="number" class="form-control" formControlName="Number" placeholder="Number" [ngClass]="{ 'is-invalid': submitted && f.Number.errors }">
            <div *ngIf="submitted && f.Number.errors" class="invalid-feedback">
              <div *ngIf="f.Number.errors.required">Number is required</div>
            </div>

            <label class="title" for="UnitOfMeasure">Unit Of Measure</label>
            <input type="text" class="form-control" formControlName="UnitOfMeasure" placeholder="UnitOfMeasure" [ngClass]="{ 'is-invalid': submitted && f.UnitOfMeasure.errors }">
            <div *ngIf="submitted && f.UnitOfMeasure.errors" class="invalid-feedback">
              <div *ngIf="f.UnitOfMeasure.errors.required">Unit Of Measure is required</div>
            </div>

            <label class="title" for="Value">Value</label>
            <input type="number" class="form-control" formControlName="Value" placeholder="Value" [ngClass]="{ 'is-invalid': submitted && f.Value.errors }">
            <div *ngIf="submitted && f.Value.errors" class="invalid-feedback">
              <div *ngIf="f.Value.errors.required">Unit Of Measure is required</div>
            </div>

          </div>
        </div>
        <div class="action-gp">
          <button class="btn btn-success" type="button" (click)="addGoods()">Add Goods</button>
          <button class="btn btn-danger" type="button" (click)="removeGoods(i)">Remove Goods</button>
        </div>
        
      </div>
    </div>
      <!--Form Array: Main Processed-->
    <div class="card">
      <div class="card-header">Goods to be Processed</div>
      <div class="card-body">
        <div class="form-group" formArrayName="MainProcessed"
             *ngFor="let item of AuthForm.get('MainProcessed').controls; let i = index;">
          <ng-container [formGroupName]="i">
            <div>
              <label class="title" for="CodeNC">CodeNC</label>
              <select class="form-control" formControlName="CodeNC" placeholder="CodeNC">
                <option value="0"></option>
                <option value="1">CodeNC1</option>
                <option value="2">CodeNC2</option>
                <option value="3">CodeNC3</option>
              </select>
              <label class="title" for="Designation">Designation</label>
              <input type="text" class="form-control" formControlName="Designation" placeholder="Designation">
              <label class="title" for="RateofReturn">Rate of Return</label>
              <input type="text" class="form-control" formControlName="RateofReturn" value="100%" disabled="disabled">
              <label class="title" for="Ratedeterminationmethod">Rate determination method</label>
              <input type="text" class="form-control" formControlName="Ratedeterminationmethod" placeholder="Rate determination method">
              <label class="title" for="ProcessingPlace">Processing Place</label>
              <input type="text" class="form-control" formControlName="ProcessingPlace" placeholder="Processing Place">
            </div>
          <div class="card">
            <div class="card-header">Secondary Products to be Processed</div>
            <div class="card-body">
              <div class="form-group" formArrayName="SecondaryProcessed"
                   *ngFor="let secondaryProccessedItem of AuthForm.get('MainProcessed').controls[i].get('SecondaryProcessed').value; let j = index;">
                <div [formGroupName]="j">
                  <label class="title" for="CodeNC">CodeNC</label>
                  <select class="form-control" formControlName="CodeNCSecondary" placeholder="CodeNC">
                    <option value="0"></option>
                    <option value="1">CodeNC1</option>
                    <option value="2">CodeNC2</option>
                    <option value="3">CodeNC3</option>
                  </select>
                  <label class="title" for="Designation">Designation</label>
                  <input type="text" class="form-control" formControlName="DesignationSecondary" placeholder="Designation">
                  <label class="title" for="RateofReturn">Rate of Return</label>
                  <input type="text" class="form-control" formControlName="RateofReturnSecondary" value="100%" disabled="disabled">
                  <label class="title" for="Ratedeterminationmethod">Rate determination method</label>
                  <input type="text" class="form-control" formControlName="RatedeterminationmethodSecondary"
                         placeholder="Rate determination method">
                </div>
                <div class="action-gp main">
                  <button class="btn btn-success" type="button" (click)="addMainSecondaryProcessed(i)">Add MainSecondaryProcessed</button>
                  <button class="btn btn-danger" type="button" (click)="removeMainSecondaryProcessed(i)">Remove MainSecondaryProcessed</button>
                </div>
                
              </div>
            </div>
          </div>

          </ng-container>
        </div>
      </div>
      <div class="action-gp">
        
      <button class="btn btn-success" type="button" (click)="addMainProcessed()">Add MainProcessed</button>
      <button class="btn btn-danger" type="button" (click)="removeMainProcessed()">Remove MainProcessed</button>
      </div>
    </div>
      <!-- Office of Placement -->
    <div class="card">
      <div class="card-header">
        Offices of Placement
      </div>
      <div class="card-body">
        <div class="form-group" formArrayName="OfficesofPlacement"
             *ngFor="let item of AuthForm.get('OfficesofPlacement').controls; let i = index;">
          <div [formGroupName]="i">
            <label class="title" for="OfficesPlacement">Offices of Placement</label>
            <select class="form-control" formControlName="OfficesPlacement" placeholder="OfficesPlacement">
              <option value="0"></option>
              <option value="1">Code Office</option>
              <option value="2">Office Label</option>
            </select>
          </div>
        </div>
      </div>
      <div class="action-gp">
        <button class="btn btn-success" type="button" (click)="addOfficesofPlacement()">Add Placement</button>
        <button class="btn btn-danger" type="button" (click)="removeOfficesofPlacement(i)">Remove Placement</button>
      </div>
      
    </div>
      <!-- Ended -->
      <!-- Office of Clearance -->
    <div class="card">
      <div class="card-header">
        Offices of Clearance
      </div>
      <div class="card-body">
        <div class="form-group" formArrayName="OfficesofClearance"
             *ngFor="let item of AuthForm.get('OfficesofClearance').controls; let i = index;">
          <div [formGroupName]="i">
            <label class="title" for="OfficesClearance">Offices of Clearance</label>
            <select class="form-control" formControlName="OfficesClearance" placeholder="OfficesClearance">
              <option value="0"></option>
              <option value="1">Code Office</option>
              <option value="2">Office Label</option>
            </select>
          </div>
        </div>
      </div>
      <div class="action-gp">
        <button class="btn btn-success" type="button" (click)="addOfficesofClearance()">Add Clearance</button>
        <button class="btn btn-danger" type="button" (click)="removeOfficesofClearance(i)">Remove Clearance</button>
      </div>
      
    </div>
      <!-- Ended -->
      <!-- Office of Clearance -->
    <div class="card">
      <div class="card-header">
        Offices of Control
      </div>
      <div class="card-body">
        <div class="form-group" formArrayName="OfficesofControl"
             *ngFor="let item of AuthForm.get('OfficesofControl').controls; let i = index;">
          <div [formGroupName]="i">
            <label class="title" for="OfficesofControl">Offices of Control</label>
            <select class="form-control" formControlName="OfficesControl" placeholder="OfficesControl">
              <option value="0"></option>
              <option value="1">Code Office</option>
              <option value="2">Office Label</option>
            </select>
          </div>
        </div>
      </div>
      <div class="action-gp">
        <button class="btn btn-success" type="button" (click)="addOfficesofControl()">Add Control</button>
        <button class="btn btn-danger" type="button" (click)="removeOfficesofControl(i)">Remove Control</button>
      </div>
      
    </div>
      <!-- Ended -->
      <div class="action-gp root">
        <button type="submit" class="btn btn-primary">
          Create Authorization
        </button><!--[disabled]="AuthForm.invalid" (click)="save(AuthForm.value)"-->
      </div>
    </form>
  </div>

</div>